/build
/captures
.cxx
.DS_Store
.externalNativeBuild
/gcp/config/qualified-glow-281314.json
/gcp/config/virtual-ego-281313.json
/gcp/functions/node_modules/
/gcp/functions/.nyc_output/
/gcp/.nyc_output/
.gradle
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/sonarlint
/.idea/vcs.xml
/.idea/workspace.xml
*.iml
local.properties
